---
global:
  envFrom:
    - secretRef:
        name: ${APP}
server:
  initContainers:
    - envFrom:
        - secretRef:
            name: ${APP}
      image: ghcr.io/home-operations/postgres-init:18.1
      name: postgres-init
  route:
    main:
      enabled: true
      hostnames:
        - "sso.${CLUSTER_DOMAIN}"
      parentRefs:
        - name: external
          namespace: network
          sectionName: https
