---
# yaml-language-server: $schema=https://raw.githubusercontent.com/kubernetes-sigs/headlamp/refs/heads/main/charts/headlamp/values.schema.json
config:
  oidc:
    externalSecret:
      enabled: true
      name: headlamp
    secret:
      create: false
  pluginsDir: /build/plugins
fullnameOverride: headlamp
initContainers:
  - command:
      - /bin/sh
      - -c
      - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/ && chown -R 100:101 /build
    image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:v0.5.0
    name: headlamp-plugins
    securityContext:
      privileged: false
      runAsGroup: 0
      runAsNonRoot: false
      runAsUser: 0
    volumeMounts:
      - mountPath: /build/plugins
        name: headlamp-plugins
volumeMounts:
  - mountPath: /build/plugins
    name: headlamp-plugins
volumes:
  - emptyDir: {}
    name: headlamp-plugins