---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
jobs:
  label:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    name: Labeler - Label
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - id: app-token
        name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
      
      - name: Label
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          configuration-path: .github/labeler.yaml
          repo-token: ${{ steps.app-token.outputs.token }}
name: Labeler
on:
  pull_request:
    branches:
      - main
  workflow_dispatch: